<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ar.com.mediamaza.flutter.auth0.flutter_with_auth0">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
